<div class="section-product">
	<div>
		<img src="images/illustration-hero.svg" alt="illustration-hero.svg">
	</div>
	<div class="textalign_left">
		<h2>A simple bookmark manager</h2>
		<p>A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
		<div>
			<app-button-link
				[label]="'Get it on Chrome'"
				[url]="'https://www.google.com/'"
			></app-button-link>
			<app-button-link
				[label]="'Get in on Firefox'"
				[url]="'https://www.firefox.com/'"
			></app-button-link>
		</div>
	</div>
</div>