<footer>
	<div class="footer_links">
		<div class="nav_list">
			<app-button-nav [label]="'FEATURES'" [url]="'#features'"></app-button-nav>
			<app-button-nav [label]="'PRICING'" [url]="'#pricing'"></app-button-nav>
			<app-button-nav [label]="'CONTACT'" [url]="'#contact'"></app-button-nav>
		</div>
		<img src="images/logo-bookmark.svg" alt="logo_bookmark">
	</div>
	<div>
		<img class="icon" src="icons/icon-facebook.svg" alt="icon-facebook.svg">
		<img class="icon" src="icons/icon-twitter.svg" alt="icon-twitter.svg">
	</div>
</footer>
