/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html{
  @include mat.theme((
    color: mat.$azure-palette
  ))
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
div {
  text-align: center;
  align-content: center;
  margin: 10px 0px;
}
img {
  max-width: 100%;
  height: auto;
}
p{
  color: gray;
}
.flexX{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flexY{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.icon{
    width: 24px;
    height: 24px;
    object-fit: none;
}
@media (min-width: 600px) {
	.textalign_left {
    	text-align: left;
    	width: 500px;
  	}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
