.btn-link{
  background-color: #5266df;
  color: white;
  border-style: hidden;
  box-shadow: 5px 5px 10px #e0e0eb;
  border-radius: 8px;
  padding: 12px 28px;
}
.btn-nav{
  text-decoration: none;
  border-style: solid 1px #5266df;
  border-radius: 8px;
  padding: 12px 28px;
}
.button-slide{
  border-style: hidden;
  padding: 12px 28px;
}